/**
 * Created by 李华良 on 2019/4/7
 */
.comp__form {
  input {
    width: 100%;
    padding: 5px 5px;
    border: 1px solid #ccc;

    &:focus {
      border-color: #333333;
    }
  }

  .form-item {
    font-size: 0;
    margin-bottom: 10px;
  }
  .form-btn-row {
    padding-top: 10px;

    button {
      text-align: center;
      width: 100%;
      line-height: 2;
    }
  }
  .form-errs {
    text-align: center;
    color: #e57373;
    line-height: 1.5;
    padding-top: 10px;
  }
}
